version: "3.9"

services:
  backend:
    image: jonatan0897/pro_dev:backend-latest
    env_file: /opt/app/app.env
    restart: always
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    depends_on:
      - backend
    volumes:
      - /opt/app/nginx/site.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    restart: always
